# Mandatory includes:
[include print_variables.cfg]
[include print_macros.cfg]
[include mainsail.cfg]
[include fluidd.cfg]

# Machine  directory
[include machine/*.cfg]

# Optional includes:
#[include print_extras.cfg]
# Unstable Development:
#[include print_dev.cfg]

# Allow printing from gcode files
[virtual_sdcard]
# Edit this path if you are using multiple instances
path: ~/printer_data/gcodes
on_error_gcode:
    # Tell the printer to run CANCEL_PRINT if an error occurs during printing
    CANCEL_PRINT

# Console output
# Use variable_output: 118
[respond]

# Display output
# Use variable_output: 117
[display_status]

# Silence output
# Use variable_output: 116
[gcode_macro M116]
description: Silent status feedback
gcode:

# Dual output
# Use variable_output: 1187 or 1178
[gcode_macro M1187]
description: Dual status feedback
gcode:
    M117 {rawparams}
    M118 {rawparams}
[gcode_macro M1178]
gcode:
    M1187 {rawparams}

# Manage individual objects
[exclude_object]

# Save persistent variables
[save_variables]
# Edit this file path if you are running multiple instances
filename: ~/printer_data/config/variables.cfg

# Idle timer
[idle_timeout]
timeout: 900
gcode: _IDLER ; Run the idler macro

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.075000, 0.007500, -0.025000, -0.092500, -0.110000
#*# 	  0.032500, -0.012500, -0.032500, -0.067500, -0.117500
#*# 	  0.007500, 0.007500, -0.022500, -0.055000, -0.072500
#*# 	  0.042500, 0.025000, 0.007500, -0.042500, -0.055000
#*# 	  0.025000, 0.005000, -0.007500, -0.027500, -0.052500
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 5
#*# mesh_y_pps = 5
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 9.999999999999996
#*# max_x = 200.0
#*# min_y = 10.0
#*# max_y = 194.0
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 71.511
#*# pid_ki = 1.436
#*# pid_kd = 890.317
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 24.862
#*# pid_ki = 1.609
#*# pid_kd = 96.030
